body {
    font-family:'Oswald', sans-serif;
}
a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: blue;
}

h1,h2 {
    color: blueviolet;
}

button {
    background-color: blueviolet;
    color: white;

}

input[type="submit"] {
    background-color: blueviolet;
    color: white;
}