/* color code: #8A2BE2 , #2c3e50 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.rect {
    height: 400px;
    width: 400px;
    background-color: #8A2BE2;
    padding-top: 50px;
    margin: 30px;
}

.rect-inside {
    height: 350px;
    width: 400px;
    background-color: #2c3e50;
    padding-bottom: 50px;
}